In [16]:
import pymysql 

conn = pymysql.connect(
    host='localhost',
    user='root',
    password='Rohit@123',
    database='pywit'
)

cur = conn.cursor()

def Result(seat,name):
    cur.execute('select * from student where seat_no=%s and sname = %s',(seat,name))
    a = cur.fetchone()
    cur.execute('select * from marks where seat_no = %s',a[0])
    b = cur.fetchone()
    label = ['','physics','chemistry','Mathematics','Biology','english','Marathi']
    avg = 0
    print(f"seat number : {a[0]}")
    print(f"student Name : {a[1]}")
    print(f"School/College Name : {a[3]}")
    print("========================================")
    for i in range(1,len(label)):
        print(f'{label[i]} = {b[i]}')
        avg+=b[i]
    aa = avg/6
    if aa>=40 and aa<=100:
        print("pass")
    else:
        print('Failed')
    
    print("average marks are",(avg/6),"%")
Result(101,'ram')

seat number : 101
student Name : ram
School/College Name : WIT School
========================================
physics = 40.0
chemistry = 45.0
Mathematics = 45.0
Biology = 55.0
english = 60.0
Marathi = 41.0
pass
average marks are 47.666666666666664 %

In [28]:
import json
a = {'name':'abc','age':66}
b = json.dumps(a)
print(b)

{"name": "abc", "age": 66}