In [42]:
import pymysql

conn = pymysql.connect(
    host='localhost',
    user='root',
    password='Rohit@123',
    database='pywit'
)
cur = conn.cursor()

def createTable(tname):
    try:
        t = f'''create table {tname}(id int primary key auto_increment,
        name varchar(20),dob date,location varchar(20))'''
        cur.execute(t)
        print(f"{tname} table created successfully...")
    except:
        print(f' with the name {tname} tables already exist...try with different name...')
# createTable('xyz1')
def Rename(oldname,newname):
    try:
        query = f'''alter table {oldname} rename to {newname}'''
        cur.execute(query)
        print(f'You have successfully rename the table from {oldname} to {newname}')
    except:
        print("kindly check oldname name newname")
# Rename('xyzdata','Data')

def AddColumn(tname,cname):
    try:
        query = f'alter table {tname} add column {cname}'
        cur.execute(query)
        print("New column added succesfully....")
    except:
        print(f"{cname} colunm name already exist... ")
# AddColumn('data','city varchar(20) not null')

def ColumnRename(tname,coldname,cnewname):
    try:
        query = f'alter table {tname} change {coldname} {cnewname}'
        cur.execute(query)
        print(f'colum rename successfully from {coldname} to {cnewname}')
    except Exception as e:
        print(e)
        
# ColumnRename('data','age','howold int')

def ModifyColumn(tname,column,dtype):
    try:
        query = f'alter table {tname} modify column {column} {dtype}'
        cur.execute(query)
        print('column modify successfully...')
    except:
        print()

def TableDelete(tname):
    try:
        query = f'drop table {tname}'
        cur.execute(query)
        print(f"Table {tname} deleted successfully...")
    except:
        print("Kindly check the syntax and table name")
# TableDelete('xyzdata')

def Truncate(tname):
    try:
        query = f'truncate table {tname}'
        cur.execute(tname)
        print(f'from table {tname} all values deleted...')
    except Exception as e:
        print("something went wrong")

def DataInsert(tnmae,name,dob,location):
    try:
        query = f'insert into {tname}(name,dob,location) values(%s,%s,%s)'
        value = (name,dob,location)
        cur.exceute(query,value)
        conn.commit()
        print("Data inserted successfully....")
    except:
        print("Error in DataInsert")

def DeleteData(tname,id1):
    try:
        query = f'delete from {tname} where id = {id1}'
        cur.execute(query)
        conn.commit()
    except:
        print("Error in DeleteData function..")

def DeleteByName(tname,name):
    try:
        query = f'delete from {tname} where name = %s'
        cur.execute(query,(name))
        conn.commit()
    except:
        print("Error in DeleteByName function..")

def Update(tname,id1):
    cur.execute(f"select * from {tname} where id = {id1}")
    a = cur.fetchone()
    def upin(name,age,city):
        cur1 = conn.cursor()
        print(name,age,city)
        cur1.execute(f'update {tname} set name=%s,howold=%s,city=%s where id=%s',(name,age,city,id1))
        conn.commit()
    upin(name='Rohit',age=a[2],city=a[3])
        
# Update('data',5)

def Filter(tname,start,end):
    try:
        query = f'select * from {tname} where name like "{start}%{end}"'
        cur.execute(query)
        a = cur.fetchall()
        print(a)
    except:
        print("Error in filter function...")

Filter('data','I','w')

def DataInsertMany(tname,*data):
    # try:
    query = f'insert into {tname}(name,dob,location) values(%s,%s,%s)'
    value = data
    cur.executemany(query,value)
    conn.commit()
   
    print("Data inserted successfully....")
    # except:
    #     print("Error in DataInsert")

DataInsertMany('xyz',('sssss','1998-12-1','Solapur'),('ffffff','1995-12-1','Solapur'))

((3, 'I-Dont-know', 22, ''),)
Data inserted successfully....

In [30]:
print(list((1,2,3,4,4,(1,2,3,4))))

[1, 2, 3, 4, 4, (1, 2, 3, 4)]

In [52]:
a=[]
tname = input("set table name : ")
while True:
    column = input('set column name data type and contraints or "break" : ')
    if column == 'break':
        break
    a.append(column)
a1 = ",".join(a)
print(a1)
query = f'create table {tname}({a1})'
cur.execute(query)
print("Run successfully...")

set table name :  welcome
set column name data type and contraints or "break" :  id int primary key
set column name data type and contraints or "break" :  name varchar(20)
set column name data type and contraints or "break" :  break

id int primary key,name varchar(20)
Run successfully...