In [6]:
name=input("May i know yur name sir/mam ? :")
print(f"Welcome {name} to The Food-Wala ")
food={'veg':["paneer masala=240rs","paneer tikka malasa= 260rs"],"nonveg":["Chicken tikka = 300rs","chicken Muglai masala=400"]}
sfood = input("What would you like to order veg or non-veg : ")
c=0
for i in food[sfood]:
    print(f"{i} to order press {c}")
    c+=1
order=int(input("Enter the value to order food :"))
print("Your order hass place successfully...")
print(food[sfood][order])

May i know yur name sir/mam ? : rohit

Welcome rohit to The Food-Wala

What would you like to order veg or non-veg :  veg

paneer masala=240rs to order press 0
paneer tikka malasa= 260rs to order press 1

Enter the value to order food : 1

Your order hass place successfully...
paneer tikka malasa= 260rs

In [19]:
"""
function is an block of code write once an use it multiple times
is an block of code
to define the function in python

def Name():
    expression

types of user define function
simple function
function with parameter
function with position argument
function with keyword argument
default paramitrise function
arbitratory function function
a. variable lenght function
b. keyword variable lenght function
lamda function
recursion function
generator function
"""

# 1. simple function
def Data():
    print("This is first function in Python")
Data()

# 2.function with positional argument/
def Data(name,age,city):
    print(f"My name is {name} my age is {age} and i live in {city}")
Data("Rohit",45,"Solapur")

#3. function with keyword argument
def Data(name,age,city):
    print(f"My name is {name} my age is {age} and i live in {city}")
Data(age=66,city="Solapur",name="XYZ")

# 4. Default parameter function

def Data(name,age,city="Solapur"):
    print(f"My name is {name} my age is {age} and i live in {city}")
Data("ABC",23)

# 5. variable lenght function

def Add(*a):
    print(type(a))
Add(1,2,3,4,5,6)

# 6. Keyword argument variable lenght function
def Add(**a):
    print(type(a))
Add(a=1,b=2,c=3)

This is first function in Python
My name is Rohit my age is 45 and i live in Solapur
My name is XYZ my age is 66 and i live in Solapur
My name is ABC my age is 23 and i live in Solapur
<class 'tuple'>
<class 'dict'>

In [22]:
def lenght(a):
    c=0
    for i in a:
        c=c+1
    return c

b = [1,2,3,4,5,6,7,8,9,0]
print(lenght(b))

10

In [38]:
#upper inbuilt method

def Upper(a):
    s=""
    for i in a:
        if i!=" ":
            if ord(i)>90:
                d=(ord(i)-32)
                s=s+(chr(d))
            else:
                s=s+i
            
        else:
            s=s+" "
    return s
a="my NamE is khan"
print("Upper function output",Upper(a))

# lower function
def lower(a):
    s=""
    for i in a:
        if i!=" ":
            if ord(i)<=90 and ord(i)>=65:
                d=(ord(i)+32)
                s=s+(chr(d))
            else:
                s=s+i
            
        else:
            s=s+" "
    return s
a="MY NAME IS SOMETHING......9898"
print(lower(a))

Upper function output MY NAME IS KHAN
my name is something......9898

In [41]:
#1 to 10 using re cursion

def numbers(n):
    print(n)
    n+=1
    if n<=10:
        return numbers(n)
numbers(1)

1
2
3
4
5
6
7
8
9
10

In [44]:
# 1 to 10 tables
def outer(n):
    def inner(n1):
        print(n*n1, end=" ")
        n1+=1
        if n1<=10:
            return inner(n1)
    inner(1)
    print()
    n+=1
    if n<=10:
        return outer(n)
    
outer(1)

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [47]:
def square(a):
    for i in range(len(a)):
        a[i] = a[i]**2
    return a

a=[1,2,3,4,5]
print(square(a))

[1, 4, 9, 16, 25]

In [48]:
#lambda function/Ananomouse function
# a = lambda parameters : expressions
a = lambda a,b : a+b
print(a(1,2))

3

In [59]:
#generator function
def Abc():
    yield "aa"
    yield "bb"
    yield 33
a=Abc()
print(next(a))
print(next(a))
print(next(a))

aa
bb
33