In [1]:
print("Hello world")

Hello world

In [3]:
print("*",end="")
print("*",end="")
print("*",end="")

***

In [5]:
print("*"*1000, end="")

****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************

In [6]:
name = "Rohit"
age = 40
print("my name is ",name,"and my age is ",age)

my name is  Rohit and my age is  40

In [7]:
#String formatting methods
name="Rohit"
city="Solapur"
print("my name is {} and i live in {}".format(name,city))

my name is Rohit and i live in Solapur

In [11]:
name="Rohit"
age=55
city="Solapur"
marks=45.233333333
print("my name is %s my age is %d and i live in %s and my marks are %.3f"%(name,age,city,marks))

my name is Rohit my age is 55 and i live in Solapur and my marks are 45.233

In [14]:
name="Rohit"
city="Solapur"
print(f"my name is {name} and i live in {city}")

my name is {name} and i live in {city}

In [16]:
data = "My name is khan"
print(data[::-1])

nahk si eman yM

In [18]:
"""
Syntax
variable[start:end:step]
"""
data = "My name is Something"
print(data[3:7:1])
print(data[-17:-13:1])

name
name

In [19]:
name="Something"
print(name.upper())

SOMETHING

In [20]:
name="SOMETHING"
print(name.lower())

something

In [21]:
name="my name is khan"
print(name.title())

My Name Is Khan

In [22]:
name="my name is something"
print(name.capitalize())

My name is something

In [31]:
#multi collection data types
#1.sequence,list,tuple,range
#what is the list ?
#first way to defin the list
#using constructor method
a=list((1,2,3,"abc","xyz"))
print(a)
print(type(a))

b=[1,2,3,4,'abc','xyz']
b[4]="Something"
# b.remove(3)
b.pop(2)
# del b[2]
b.insert(2,"WIT")
print(b)

[1, 2, 3, 'abc', 'xyz']
<class 'list'>
[1, 2, 'WIT', 4, 'Something', 'xyz']

In [33]:
a=[[["a",[1,2,[[0,2,'bb',[12,11,33]]]]]]]
a[0][0][1][2][0][2]="Big Boss"
print(a)

[[['a', [1, 2, [[0, 2, 'Big Boss', [12, 11, 33]]]]]]]

In [35]:
a=[1,2,[0,[[['xyz',[0,99,4,['a','b',[1,2,3,['yes','no',[[5]]]]]]]]]]]
a[2][1][0][0][1][3][2][3][1]="WIT"
print(a)

[1, 2, [0, [[['xyz', [0, 99, 4, ['a', 'b', [1, 2, 3, ['yes', 'WIT', [[5]]]]]]]]]]]

In [37]:
# tuple
a=tuple((1,2,3,4,5,'abc','xyz'))
print(a)
print(type(a))

(1, 2, 3, 4, 5, 'abc', 'xyz')
<class 'tuple'>

In [39]:
a=(1,2,3,4,5)
print(a)

(1, 2, 3, 4, 5)

In [40]:
a = (1,2)
b = (3,4)
print(a+b)

(1, 2, 3, 4)

In [41]:
a=(1,)
print(type(a))

<class 'tuple'>

In [46]:
a=('rohit','Mumbai',55)
(name,city,age) = a
print(name)
print(city)
age

rohit
Mumbai

55

In [65]:
a=[1,2,[0,([['xyz',(0,99,4,['a','b',[1,2,3,['yes',('no',),[[5]]]]])]])]]
a[2][1][0][1][3][2][3][1] = ("WIT",)

print(a)

[1, 2, [0, [['xyz', (0, 99, 4, ['a', 'b', [1, 2, 3, ['yes', ('WIT',), [[5]]]]])]]]]

In [76]:
# dictinary
a={'name':'Rohit','age':60}
print(a)
print(type(a))
print(len(a))
print(a['name'])
print(a.get('name'))
a.update({'year':1991})
a['new']="SomethinfNew"
# a.clear()
# del a['name']
# del a
print(a)

{'name': 'Rohit', 'age': 60}
<class 'dict'>
2
Rohit
Rohit
{'name': 'Rohit', 'age': 60, 'year': 1991, 'new': 'SomethinfNew'}

In [80]:
a={'name':{'age':33,'data':[1,2,3,5,7,{'data':{'new':['yes']}}]}}
a['name']['data'][5]['data']['new'][0]="No"
print(a)

{'name': {'age': 33, 'data': [1, 2, 3, 5, 7, {'data': {'new': ['No']}}]}}

In [83]:
a={'name':'Rohit','age':60,'year':1998}
print(a.values())
print(a.keys())
print(a.items())

dict_values(['Rohit', 60, 1998])
dict_keys(['name', 'age', 'year'])
dict_items([('name', 'Rohit'), ('age', 60), ('year', 1998)])

In [90]:
#set
a={"abc",1,"xyz",'a','b',1,1}
print(a)

{1, 'xyz', 'b', 'abc', 'a'}

In [92]:
i=1
while i<=10:
    print(i)
    i+=1
#for loop
for i in range(1,11,1):
    print(i)

1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10

In [97]:
a=[1,2,3,4,5,6,7,8,9,10,55,56,57,58]
b=[]
#o/p = [all even numbers from above list]
for i in range(len(a)):
    if a[i]%2 == 0:
        b.append(a[i])
print(b)

[2, 4, 6, 8, 10, 56, 58]

In [106]:
a=[18,20,2,3,4,5,66,1,22]
for i in range(len(a)):
    for j in range(len(a)):
        if a[i]<=a[j]:
            t = a[i]
            a[i] = a[j]
            a[j] = t
print(a)
print(a[1])

[1, 2, 3, 4, 5, 18, 20, 22, 66]
2

In [112]:
a=[88,34,1,2,2,1,85,77,69]
b=[]
for i in range(len(a)):
    for j in range(len(a)):
        if a[i]<=a[j]:
            t = a[i]
            a[i] = a[j]
            a[j] = t
for i in a:
    if i not in b:
        b.append(i)
        print(b)
print(a)

[1]
[1, 2]
[1, 2, 34]
[1, 2, 34, 69]
[1, 2, 34, 69, 77]
[1, 2, 34, 69, 77, 85]
[1, 2, 34, 69, 77, 85, 88]
[1, 1, 2, 2, 34, 69, 77, 85, 88]

In [110]:
a=[88,34,1,2,2,1,85,77,69]
b=[]
for i in a:
    print(i)

88
34
1
2
2
1
85
77
69

In [115]:
a=["A","B","C","D"]
for row in range(len(a)):
    for col in range(row+1):
        print(a[row], end=" ")
    print()

c=1
for i in range(len(a)):
    print(a[i]*c)
    c+=1

A
B B
C C C
D D D D
A
BB
CCC
DDDD

In [116]:
u1 = input("Enter your name ")
print(u1)

Enter your name  Rohit

Rohit

In [118]:
seat=input("Enter your seat number : ")
mname=input("Enter mother name : ")
if seat=="420" and mname == "abc":
    math=40
    chem=40
    phy=45
    eng=40
    hindi=41
    avg=(math+chem+phy+eng+hindi)/5
    print(f" Math:{math} /n Chemistry :{chem} /n Physics :{phy} /n English : {eng} /n Hindi : {hindi}")
elif seat=="421" and mname == "abc1":
    math=41
    chem=40
    phy=45
    eng=40
    hindi=41
    avg=(math+chem+phy+eng+hindi)/5
    print(f" Math:{math} /n Chemistry :{chem} /n Physics :{phy} /n English : {eng} /n Hindi : {hindi}")

Enter your seat number :  420
Enter mother name :  abc

 Math:40 /n Chemistry :40 /n Physics :45 /n English : 40 /n Hindi : 41

In [129]:
useat = int(input("enter your seat number : "))
umname = input("Enter your mother name : ")

seat=[420,421,422,423]
mname=['abc','xyz','pqr','str']
data={420:[40,42,44,42,40],421:[55,66,77,44,88],422:[44,66,77,22,56],423:[55,43,56,76,45]}

for i in range(len(seat)):
    if seat[i]==useat and mname[i]==umname:
        for j in data:
            # print(j)
            if j==seat[i]:
                print(data[j])
                print(f"Mathematics: {data[j][0]}")
                print(f"Chemistry: {data[j][1]}")
                print(f"Physics: {data[j][2]}")
                print(f"English: {data[j][3]}")
                print(f"Hindi: {data[j][4]}")
                avg = (data[j][0]+data[j][1]+data[j][2]+data[j][3]+data[j][4])/5
                print("percentage ",avg,"%")

enter your seat number :  423
Enter your mother name :  str

[55, 43, 56, 76, 45]
Mathematics: 55
Chemistry: 43
Physics: 56
English: 76
Hindi: 45

In [152]:


pinn = [1234,2343,2334]
for i in range(3):
    pin = int(input("Enter your pin : "))
    if pin in pinn:
        amt=int(input("Enter Amount..."))
        if amt%100 == 0:
            if amt>=500:
                notes=amt//500
                print(f"Received {notes} notes of 500")
                amt=amt%500
            if amt>=200:
                notes=amt//200
                print(f"Received {notes} notes of 200")
                amt=amt%200
            if amt>=100:
                notes=amt//100
                print(f"Received {notes} notes of 100")
        else:
            print("Amount Shoud be multiple of 100....")
        break
else:
    print("Better luck next time chorrrrr.....")
print("Thank You For Banking With Us...")

Enter your pin :  1234
Enter Amount... 300

Received 1 notes of 200
Received 1 notes of 100
Thank You For Banking With Us...